#cpp code owners
cpp/               @nvidia/cuopt-engine-codeowners

#python code owners
python/            @nvidia/cuopt-infra-codeowners
notebooks/         @nvidia/cuopt-infra-codeowners
docs/              @nvidia/cuopt-infra-codeowners

#infra code owners
**/CMakeLists.txt  @nvidia/cuopt-infra-codeowners
**/cmake/          @nvidia/cuopt-infra-codeowners
container-builder/ @nvidia/cuopt-infra-codeowners

#CI code owners
/.github/                @nvidia/cuopt-ci-codeowners
/ci/                     @nvidia/cuopt-ci-codeowners
/.pre-commit-config.yaml @nvidia/cuopt-ci-codeowners

#packaging code owners
/.devcontainer/    @nvidia/cuopt-infra-codeowners
/conda/            @nvidia/cuopt-infra-codeowners
/dependencies.yaml @nvidia/cuopt-infra-codeowners
/build.sh          @nvidia/cuopt-infra-codeowners
pyproject.toml     @nvidia/cuopt-infra-codeowners
